DROP DATABASE IF EXISTS ofertas_empleo;

CREATE DATABASE ofertas_empleo;

USE ofertas_empleo;

CREATE TABLE Ciudades(
	ciudad,
    latitud,
    longitud,
    PRIMARY KEY (ciudad));
    
CREATE TABLE Tecnologias(
	programa_id,
    programa,
    PRIMARY KEY (programa_id));
    
    
CREATE TABLE Empresas(
	empresa_id,
    nombre_empresa,
    ciudad,
    PRIMARY KEY (empresa_id),
    FOREIGN KEY (ciudad) REFERENCES Ciudades(ciudad));
    
CREATE TABLE Requisitos_Oferta(
	id_,
    programa_id,
    nivel,
    PRIMARY KEY (id_),
    FOREIGN KEY (programa_id) REFERENCES Tecnologias(programa_id));

CREATE TABLE Ofertas(
	id_,
    empresa_id,
    rol,
    salario,
    fecha_publicaci√≥n,
    activa,
    porcentaje_remoto,
    residencia,
    idiomas,
    horario,
    web_origen,
    link,
    PRIMARY KEY (id_),
    FOREIGN KEY (empresa_id) REFERENCES Empresas(empresa_id));