In [145]:
import folium
import pandas as pd
import json
import time
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

In [146]:
manfred = pd.read_csv("/home/bosser/Documentos/PROYECTOFINAL/CSV/CSV_manfred/resultado_presencial.csv")
manfred

               id Presencial
0        id_man_1     MADRID
1        id_man_2  BARCELONA
2        id_man_3     MADRID
3        id_man_4     MADRID
4        id_man_5     MADRID
...           ...        ...
1258  id_man_1222        NaN
1259  id_man_1223     MADRID
1260  id_man_1224     MADRID
1261  id_man_1225        NaN
1262  id_man_1226        NaN

[1263 rows x 2 columns]

In [147]:
manfred_cuenta = manfred.groupby("Presencial", as_index= False).size()
manfred_cuenta["Presencial"] = manfred_cuenta["Presencial"].str.title()

manfred_cuenta

                    Presencial  size
0                     A Coruña    44
1                   Alcobendas     1
2                        Alcoy     1
3           Alicante (Alacant)     2
4                      Badajoz     1
5                    Barcelona    73
6                     Bergondo     1
7                       Bilbao     5
8     Ciudad De México, México     1
9                        Gijón     2
10                     Granada     1
11                        Jaén     2
12  Las Palmas De Gran Canaria     1
13                        León     1
14            Lisboa, Portugal     1
15                     Logroño     1
16                      Lérida     1
17                      Madrid   279
18               Milán, Italia     1
19                      Murcia     3
20                      Málaga    10
21                      Oviedo     1
22                       Palma     5
23                    Pamplona     2
24               San Sebastián     1
25                   Santander     2
26                     Sevilla    16
27                    Valencia    37
28                  Valladolid     2
29                        Vigo     6
30             Vitoria-Gasteiz     2
31                    Zaragoza     7
32     Ámsterdam, Países Bajos     1

In [148]:
from geopy.geocoders import Nominatim
df= manfred_cuenta

# Crear un geolocalizador con un user_agent personalizado
geolocator = Nominatim(user_agent="tu_aplicacion_que_no_abusa_de_servicio")

def obtener_geolocalizacion(ciudad):
    try:
        location = geolocator.geocode(ciudad, timeout=10)
        if location:
            address = location.raw.get("display_name", "").split(", ")
            pais = address[-1]  # Último elemento es el país
            provincia = address[-3] if len(address) > 2 else None  # Provincia (en muchos casos)
            return pd.Series([pais, provincia])
    except GeocoderTimedOut:
        return pd.Series([None, None])

df[["País", "Provincia"]] = df["Presencial"].apply(obtener_geolocalizacion)

In [149]:
df

                    Presencial  size       País                     Provincia
0                     A Coruña    44     España                      A Coruña
1                   Alcobendas     1     España                    Alcobendas
2                        Alcoy     1     España            Alacant / Alicante
3           Alicante (Alacant)     2     España            Alacant / Alicante
4                      Badajoz     1     España                       Badajoz
5                    Barcelona    73     España                     Barcelona
6                     Bergondo     1     España                      A Coruña
7                       Bilbao     5     España                       Bizkaia
8     Ciudad De México, México     1     México                    Cuauhtémoc
9                        Gijón     2     España                 Gijón / Xixón
10                     Granada     1     España                       Granada
11                        Jaén     2     España                          Jaén
12  Las Palmas De Gran Canaria     1     España                    Las Palmas
13                        León     1     España                          León
14            Lisboa, Portugal     1   Portugal                          None
15                     Logroño     1     España                       Logroño
16                      Lérida     1     España                        Lleida
17                      Madrid   279     España                        Madrid
18               Milán, Italia     1     Italia                        Milano
19                      Murcia     3     España  Área Metropolitana de Murcia
20                      Málaga    10     España                        Málaga
21                      Oviedo     1     España                        Oviedo
22                       Palma     5     España                         Palma
23                    Pamplona     2     España                Pamplona/Iruña
24               San Sebastián     1     España                      Gipuzkoa
25                   Santander     2     España                     Santander
26                     Sevilla    16     España                       Sevilla
27                    Valencia    37     España           València / Valencia
28                  Valladolid     2     España                    Valladolid
29                        Vigo     6     España                    Pontevedra
30             Vitoria-Gasteiz     2     España                   Araba/Álava
31                    Zaragoza     7     España                      Zaragoza
32     Ámsterdam, Países Bajos     1  Nederland                     Amsterdam

In [150]:
df_españa = df[df["País"] == "España"]
           
# Agruparmos por provincia y sumamos
provincia_size_sum = df_españa.groupby("Provincia", as_index= False)["size"].sum()

# Mostrar el resultado
provincia_size_sum

                       Provincia  size
0                       A Coruña    45
1             Alacant / Alicante     3
2                     Alcobendas     1
3                    Araba/Álava     2
4                        Badajoz     1
5                      Barcelona    73
6                        Bizkaia     5
7                  Gijón / Xixón     2
8                       Gipuzkoa     1
9                        Granada     1
10                          Jaén     2
11                    Las Palmas     1
12                          León     1
13                        Lleida     1
14                       Logroño     1
15                        Madrid   279
16                        Málaga    10
17                        Oviedo     1
18                         Palma     5
19                Pamplona/Iruña     2
20                    Pontevedra     6
21                     Santander     2
22                       Sevilla    16
23                    Valladolid     2
24           València / Valencia    37
25                      Zaragoza     7
26  Área Metropolitana de Murcia     3

In [151]:
print(provincia_size_sum["Provincia"])

0                         A Coruña
1               Alacant / Alicante
2                       Alcobendas
3                      Araba/Álava
4                          Badajoz
5                        Barcelona
6                          Bizkaia
7                    Gijón / Xixón
8                         Gipuzkoa
9                          Granada
10                            Jaén
11                      Las Palmas
12                            León
13                          Lleida
14                         Logroño
15                          Madrid
16                          Málaga
17                          Oviedo
18                           Palma
19                  Pamplona/Iruña
20                      Pontevedra
21                       Santander
22                         Sevilla
23                      Valladolid
24             València / Valencia
25                        Zaragoza
26    Área Metropolitana de Murcia
Name: Provincia, dtype: object

In [152]:
import geopandas as gpd
import folium
from folium.plugins import HeatMap


geojson_path = "/home/bosser/Documentos/PROYECTOFINAL/Graficas/data/spain-provinces.geojson"

# Cargar archivo GeoJson
gdf_provincias = gpd.read_file(geojson_path)

#Renonbramos
df_españa["Provincia"] = df_españa["Provincia"].replace({
    "A Coruña": "A Coruña",
    "Alacant / Alicante": "Alacant/Alicante",
    "Araba/Álava": "Araba/Álava",
    "Badajoz": "Badajoz",
    "Barcelona": "Barcelona",
    "Granada": "Granada",
    "Jaén": "Jaén",
    "Las Palmas": "Las Palmas",
    "Palma" : "Illes Balears",
    "León": "León",
    "Lleida": "Lleida",
    "Madrid": "Madrid",
    "Málaga": "Málaga",
    "Pontevedra": "Pontevedra",
    "Sevilla": "Sevilla",
    "Valladolid": "Valladolid",
    "València / Valencia": "València/Valencia",
    "Zaragoza": "Zaragoza",
    "Área Metropolitana de Murcia": "Murcia",
    "Alcobendas" : "Madrid",
    "Bizkaia":"Bizkaia/Vizcaya",
    "Gijón / Xixón": "Asturias",
    "Oviedo": "Asturias",
    "Gipuzkoa": "Gipuzkoa/Guipúzcoa",
    "Logroño" : "La Rioja"
})

#Unimos datos de provincia
gdf_merged = gdf_provincias.set_index("name").join(df_españa.set_index("Provincia"))
gdf_merged = gdf_merged.reset_index()
gdf_merged = gdf_merged.drop(columns=["created_at", "updated_at", "cartodb_id"])


#Crear maoa de españa
m = folium.Map(location=[40.4637, -3.7492], zoom_start=6)  # Coordenadas de España

#Añadimos los datos para hacerlo Cloropletico
folium.Choropleth(
    geo_data=gdf_merged,
    name="choropleth",
    data=gdf_merged,
    columns=["name", "size"],  
    key_on="feature.properties.name", 
    fill_color="YlOrRd", 
    fill_opacity=0.5,
    line_opacity=0.2,
    legend_name="Tamaño por Provincia",
    nan_fill_color= "gray",
    nan_fill_opacity= 0.5
).add_to(m)

#Lo guardamos en html para subirlo a streamlit
m.save("mapa_cloropletico_espana.html")  # Guarda el mapa como archivo HTML

/tmp/ipykernel_5937/3930094343.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_españa["Provincia"] = df_españa["Provincia"].replace({

In [153]:
print(list(gdf_provincias["name"]))

['Illes Balears', 'Asturias', 'A Coruña', 'Girona', 'Las Palmas', 'Pontevedra', 'Santa Cruz De Tenerife', 'Cantabria', 'Málaga', 'Almería', 'Murcia', 'Albacete', 'Ávila', 'Araba/Álava', 'Badajoz', 'Alacant/Alicante', 'Ourense', 'Barcelona', 'Burgos', 'Cáceres', 'Cádiz', 'Castelló/Castellón', 'Ciudad Real', 'Jaén', 'Córdoba', 'Cuenca', 'Granada', 'Guadalajara', 'Gipuzkoa/Guipúzcoa', 'Huelva', 'Huesca', 'León', 'Lleida', 'La Rioja', 'Soria', 'Navarra', 'Ceuta', 'Lugo', 'Madrid', 'Palencia', 'Salamanca', 'Segovia', 'Sevilla', 'Toledo', 'Tarragona', 'Teruel', 'València/Valencia', 'Valladolid', 'Bizkaia/Vizcaya', 'Zamora', 'Zaragoza', 'Melilla']

In [154]:
print(df_españa.columns)

Index(['Presencial', 'size', 'País', 'Provincia'], dtype='object')

In [155]:
gdf_merged

,name,cod_prov,cod_ccaa,geometry,Presencial,size,País
0,Illes Balears,07,03,"MULTIPOLYGON (((3.21364 39.95751, 3.1544 39.92...",Palma,5.0,España
1,Asturias,33,18,"MULTIPOLYGON (((-5.84083 43.66062, -5.83002 43...",Gijón,2.0,España
2,Asturias,33,18,"MULTIPOLYGON (((-5.84083 43.66062, -5.83002 43...",Oviedo,1.0,España
3,A Coruña,15,11,"MULTIPOLYGON (((-7.6803 43.78714, -7.66231 43....",A Coruña,44.0,España
4,A Coruña,15,11,"MULTIPOLYGON (((-7.6803 43.78714, -7.66231 43....",Bergondo,1.0,España
5,Girona,17,08,"MULTIPOLYGON (((1.74871 42.49482, 1.82355 42.4...",NaN,NaN,NaN
6,Las Palmas,35,04,"MULTIPOLYGON (((-13.89051 28.75685, -13.83632 ...",Las Palmas De Gran Canaria,1.0,España
7,Pontevedra,36,11,"MULTIPOLYGON (((-8.18101 42.85828, -8.11637 42...",Vigo,6.0,España
8,Santa Cruz De Tenerife,38,04,"MULTIPOLYGON (((-16.15754 28.58816, -16.12669 ...",NaN,NaN,NaN
9,Cantabria,39,05,"MULTIPOLYGON (((-3.59024 43.51356, -3.54634 43...",NaN,NaN,NaN
10,Málaga,29,01,"MULTIPOLYGON (((-4.40658 37.27412, -4.37894 37...",Málaga,10.0,España
11,Almería,04,01,"MULTIPOLYGON (((-2.18191 37.89882, -2.17201 37...",NaN,NaN,NaN
12,Murcia,30,15,"MULTIPOLYGON (((-1.14985 38.74607, -1.11967 38...",Murcia,3.0,España
13,Albacete,02,06,"MULTIPOLYGON (((-1.48366 39.41824, -1.48814 39...",NaN,NaN,NaN
14,Ávila,05,07,"MULTIPOLYGON (((-5.01386 41.16425, -4.86368 41...",NaN,NaN,NaN
15,Araba/Álava,01,17,"MULTIPOLYGON (((-3.0269 43.21657, -3.00678 43....",Vitoria-Gasteiz,2.0,España
16,Badajoz,06,10,"MULTIPOLYGON (((-4.67789 39.43485, -4.6717 39....",Badajoz,1.0,España
17,Alacant/Alicante,03,19,"MULTIPOLYGON (((-0.15968 38.88351, -0.14808 38...",Alcoy,1.0,España
18,Alacant/Alicante,03,19,"MULTIPOLYGON (((-0.15968 38.88351, -0.14808 38...",Alicante (Alacant),2.0,España
19,Ourense,32,11,"MULTIPOLYGON (((-7.92018 42.56666, -7.88852 42...",NaN,NaN,NaN
20,Barcelona,08,08,"MULTIPOLYGON (((1.91821 42.31778, 2.0699 42.29...",Barcelona,73.0,España
21,Burgos,09,07,"MULTIPOLYGON (((-3.24918 43.196, -3.22409 43.1...",NaN,NaN,NaN
22,Cáceres,10,10,"MULTIPOLYGON (((-6.23048 40.4866, -6.15705 40....",NaN,NaN,NaN
23,Cádiz,11,01,"MULTIPOLYGON (((-5.43132 37.05039, -5.42011 37...",NaN,NaN,NaN
24,Castelló/Castellón,12,19,"MULTIPOLYGON (((-0.16496 40.78863, -0.14453 40...",NaN,NaN,NaN
25,Ciudad Real,13,06,"MULTIPOLYGON (((-4.13897 39.56645, -4.04178 39...",NaN,NaN,NaN
26,Jaén,23,01,"MULTIPOLYGON (((-2.76683 38.53297, -2.70251 38...",Jaén,2.0,España
27,Córdoba,14,01,"MULTIPOLYGON (((-5.03541 38.72619, -5.00447 38...",NaN,NaN,NaN
28,Cuenca,16,06,"MULTIPOLYGON (((-2.15211 40.65769, -2.0912 40....",NaN,NaN,NaN
29,Granada,18,01,"MULTIPOLYGON (((-2.54975 38.08289, -2.42341 38...",Granada,1.0,España
30,Guadalajara,19,06,"MULTIPOLYGON (((-2.90102 41.32556, -2.86899 41...",NaN,NaN,NaN
31,Gipuzkoa/Guipúzcoa,20,17,"MULTIPOLYGON (((-1.79086 43.39537, -1.79695 43...",San Sebastián,1.0,España
32,Huelva,21,01,"MULTIPOLYGON (((-6.9269 38.20444, -6.84843 38....",NaN,NaN,NaN
33,Huesca,22,02,"MULTIPOLYGON (((-0.74727 42.92237, -0.72448 42...",NaN,NaN,NaN
34,León,24,07,"MULTIPOLYGON (((-4.89358 43.23848, -4.8392 43....",León,1.0,España
35,Lleida,25,08,"MULTIPOLYGON (((0.71604 42.85832, 0.85552 42.8...",Lérida,1.0,España
36,La Rioja,26,12,"MULTIPOLYGON (((-2.99723 42.64214, -2.94645 42...",Logroño,1.0,España
37,Soria,42,07,"MULTIPOLYGON (((-2.344 42.1455, -2.28216 42.13...",NaN,NaN,NaN
38,Navarra,31,16,"MULTIPOLYGON (((-1.6523 43.31024, -1.62446 43....",NaN,NaN,NaN
39,Ceuta,51,09,"MULTIPOLYGON (((-5.34496 35.87106, -5.37291 35...",NaN,NaN,NaN
40,Lugo,27,11,"MULTIPOLYGON (((-7.63622 43.7528, -7.62959 43....",NaN,NaN,NaN
41,Madrid,28,13,"MULTIPOLYGON (((-3.5367 41.16058, -3.48875 41....",Alcobendas,1.0,España
42,Madrid,28,13,"MULTIPOLYGON (((-3.5367 41.16058, -3.48875 41....",Madrid,279.0,España
43,Palencia,34,07,"MULTIPOLYGON (((-4.45676 43.05704, -4.39811 43...",NaN,NaN,NaN
44,Salamanca,37,07,"MULTIPOLYGON (((-6.47592 41.28734, -6.31768 41...",NaN,NaN,NaN
45,Segovia,40,07,"MULTIPOLYGON (((-3.96383 41.58608, -3.86795 41...",NaN,NaN,NaN
46,Sevilla,41,01,"MULTIPOLYGON (((-5.72508 38.19578, -5.68861 38...",Sevilla,16.0,España
47,Toledo,45,06,"MULTIPOLYGON (((-4.37514 40.31426, -4.35639 40...",NaN,NaN,NaN
48,Tarragona,43,08,"MULTIPOLYGON (((1.43856 41.57568, 1.45448 41.5...",NaN,NaN,NaN
49,Teruel,44,02,"MULTIPOLYGON (((-0.50256 41.35439, -0.47993 41...",NaN,NaN,NaN
50,València/Valencia,46,19,"MULTIPOLYGON (((-0.98714 39.98072, -0.9185 39....",Valencia,37.0,España
51,Valladolid,47,07,"MULTIPOLYGON (((-5.112 42.31184, -5.09375 42.3...",Valladolid,2.0,España
52,Bizkaia/Vizcaya,48,17,"MULTIPOLYGON (((-2.7515 43.45665, -2.73871 43....",Bilbao,5.0,España
53,Zamora,49,07,"MULTIPOLYGON (((-6.76114 42.23987, -6.70379 42...",NaN,NaN,NaN
54,Zaragoza,50,02,"MULTIPOLYGON (((-0.9091 42.74404, -0.89686 42....",Zaragoza,7.0,España
55,Melilla,52,14,"MULTIPOLYGON (((-2.95058 35.26546, -2.97032 35...",NaN,NaN,NaN